<div class="container center-block clearfix" style="width:690px;">
    <div class="paginator">
          {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}" class="previous btn btn-default paginator-btn">Previous</a>
          {% endif %}
            <span class="page_number">  {{ paginator.page }} of {{ paginator.total_pages }}  </span>
          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="next btn btn-default paginator-btn">Next</a>
          {% else %}
            <span class="next">Next</span>
          {% endif %}
    </div>
</div>