<div class="container center-block clearfix" style="margin-top: 15px; margin-left: auto; margin-right: auto;">
    <div class="pagination">
          {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}" class="previous btn btn-default">Previous</a>
          {% else %}
            <span class="previous">Previous</span>
          {% endif %}
          <span class="page_number">  {{ paginator.page }} of {{ paginator.total_pages }}  </span>
          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="next  btn btn-default">Next</a>
          {% else %}
            <span class="next ">Next</span>
          {% endif %}
    </div>
</div>